# Python-specific ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment directories
.venv
.venv/
venv/
.env
.env.*

# I/O artifacts
*.log
*.sqlite3
db.sqlite3

# IDE files
.vscode/
.idea/
.DS_Store
